<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config/>

    <bean id="dao" class="ua.com.guide.dao.AbstractDaoImpl"/>

    <bean id="categoryService" class="ua.com.guide.service.CategoryService"/>

    <!--<bean id="cityDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.City"/>-->
    <!--</bean>-->

    <!--<bean id="commentDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Comment"/>-->
    <!--</bean>-->

    <!--<bean id="imageDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Image"/>-->
    <!--</bean>-->

    <!--<bean id="placeDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Place"/>-->
    <!--</bean>-->

    <!--<bean id="postDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Post"/>-->
    <!--</bean>-->

    <!--<bean id="regionDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Region"/>-->
    <!--</bean>-->

    <!--<bean id="userDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.User"/>-->
    <!--</bean>-->

    <!--<bean id="categoryDao" class="ua.com.guide.dao.AbstractDaoImpl">-->
    <!--<constructor-arg value="ua.com.guide.model.Category"/>-->
    <!--</bean>-->

</beans>