
#category-admin-title {
    text-align: center;
}

.category-item, .add-btn {
    box-shadow: 1px 1px 5px 1px grey;
    -webkit-box-shadow: 1px 1px 5px 1px grey;
    height: 45px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*display: inline;*/
}

.category-item:hover, .add-btn:hover{
    box-shadow: 2px 2px 10px 2px grey;
    -webkit-box-shadow: 2px 2px 10px 2px grey;
}

.category-name {
    /*padding: 2px;*/
    /*width: 40%;*/
}

.category-item > .category-edit {
    /*margin-left: 40%;*/
    margin-top: 10px;
    float: right;
}

.category-item > .category-delete {
    margin-left: 10px;
    margin-top: 10px;
    float: right;
}

.category-item.hidden {
    display: none;
}

.add-btn {
    text-align: center;
    font-size: 30px;
}

/*Style for adding new category*/
.category-item .accept, .category-item .accept-edit-category {
    float: right;
    margin-top: 10px;
}

.category-item .cancel, .category-item .cancel-edit-category {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.category-item input[type="text"] {
    margin-top: 7px;
    width: 80%;
    border: none;
}

.category-item input[type="text"]:focus {
    width: 80%;
    outline: none;
}